<!DOCTYPE html>
<head>
    <title>Node: Workshop 1</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <header>
        <h1>Node: Workshop 1</h1>
    </header>
    <div class='main'>
        <h2>Part 1</h2>
        <div class='content'>
            <%- include('../partials/questions/5') %>
            <div class='box answer'>
                <h3>Answer</h3>
                <!-- render answer here -->
                <h1>Top 5 girl names in England Wales</h1>
                <p><%- names[0] %></p>
                <p><%- names[1] %></p>
                <p><%- names[2] %></p>
                <p><%- names[3] %></p>
                <p><%- names[4] %></p>
            </div>
        </div>
    </div>
</body>